@import '../../../_mixins'
.mini-box
    width: 100%
    height: 100%
    overflow: hidden

    
    img
        width: 100%
        padding: 1%
        height: 100%
        object-fit: fill
    .video-container
        
        width: 100%
        height: 100%
        display: none
        video
            width: 100%
            height: 100%
            object-fit: cover
           
    &:hover
        img
            display: none
        .video-container
            width: 100%

            height: 100%
            display: block


.slider-mini
    width: 100%
    height: 20%
    position: relative

    @include respond-to(small)
        height: 12%
       
    

    h2
        font-size: 1.4vw
        color: #000
        font-weight: bold
        padding: 0.3% 2%
       
    .mini-slider
        position: relative
        width: 100%
        height:90%
        margin-top: 3%
        padding: 1%
        .slide
            border-radius: 5px
            width: 100%
            border: 1px solid #000
            height: 100%
            background-color: #fff
            &:hover
               
                scale: ( 1.2 1.1)
                transition: 0.5s
                
                z-index: 100
                img
                    border-radius: 5px
                    width: 100%
                    height: 100%
                    object-fit: fill
                    border: 2px solid #000


